:root {
  --bg: #0b031f;
  --white: #fff;

  --brand-violet: #2b1a55;
  --brand-purple: #0b48e4;

  --brand-accent-start: #ff05db;
  --brand-accent-end: #f05;

  --brand-green-3: #4bffca;

  --soft-violet: #9798df;

  --brand-accent-gradient:
    linear-gradient(
      90deg,
      var(--brand-accent-start),
      var(--brand-accent-end)
    );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: white;
  font-family: Inter, sans-serif;
}

@font-face {
  font-family: 'LoosBold';
  src: url('/assets/fonts/LoosExtraWide-Bold.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'LoosMedium';
  src: url('../fonts/LoosExtraWide-Medium.ttf') format('truetype');
  font-weight: 400;
}